.App {
	text-align: center;
}

.centered-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.centered-content h2 {
	margin-bottom: 16px;
}

.bold-text {
	font-weight: bold;
}

body {
	overflow-y: scroll;
	/* Always show a scrollbar (even if content doesn't overflow) */
}